<!-- <p>admin-delete-doctor works!</p> -->
 
<div class="d-flex flex-row">
    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isCollapsed" (mouseenter)="hoverSidebar(true)"
        (mouseleave)="hoverSidebar(false)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <!-- Make Request Management active by default -->
                <a class="nav-link" [routerLink]="['/adminRequestManagement']" [routerLinkActive]="['active']"
                    [ngClass]="{'active': isActiveRoute()}">
                    <i class="bi bi-envelope"></i>
                    <span class="sidebar-text" *ngIf="!isCollapsed">Request Management</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link"  href="javascript:void(0);" (click)="toggleDropdown()" [ngClass]="{'active': isActiveRoute()}">
                    <i class="bi bi-person"></i>
                    <span class="sidebar-text" *ngIf="!isCollapsed" style="margin-right: 10px;">Doctor Management</span>
                    <!-- Toggle icon based on dropdown state -->
                    <i class="bi" [ngClass]="{'bi-chevron-down': !dropdownOpen, 'bi-chevron-up': dropdownOpen}"
                        *ngIf="!isCollapsed"></i>
                </a>
                <ul class="nav flex-column" *ngIf="dropdownOpen && !isCollapsed">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/adminAddDoctor']" [routerLinkActive]="['active']" [ngClass]="{'active': isActiveRoute()}">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Add New Doctor</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/adminEditDoctor']" [routerLinkActive]="['active']">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Edit Doctor Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/adminDeleteDoctor']" [routerLinkActive]="['active']">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Delete Doctor Details</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Manage Doctors</a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>

    <div class="content" [ngClass]="{'no-data': !doctors || !doctors.length}">
        <ng-container *ngIf="doctors && doctors.length; else noDataTemplate">
            <div class="my_class">
                <ul class="card_ul">
                    <div class="card m-3" *ngFor="let doctor of doctors">
                        <li class="li_card">
                            <div class="card-body">
                                <h5 class="card-title m-0 pb-2">{{doctor.doctorName}}</h5>
                                <p class="card-text m-0">{{doctor.specialization}}</p>
                                <p class="card-text m-0">{{doctor.yearsOfExperience}} Years of Experience</p>
                                <div class="mt-auto d-flex justify-content-end">
                                    <a class="btn btn-danger m-2" (click)="removeDoctor(doctor.doctorId)" [routerLinkActive]="['active']">Delete Doctor</a>
                                    <!-- <a class="btn btn-warning m-2" (click)="updateDoctor(doctor.doctorId)">Edit</a>
                                    <a class="btn btn-danger m-2" (click)="deleteDoctor(doctor.doctorId)">Delete</a> -->
                                </div>

                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </ng-container>
        <ng-template #noDataTemplate>
            <p>No data available</p>
        </ng-template>
    </div>
</div>

<router-outlet></router-outlet>