<!-- <p>doctor-edit-patient-details works!</p> -->
<!-- <p>doctor-add-patient-details works!</p>
<p>admin-edit-main-doctor works!</p> -->
<div class="d-flex flex-row">
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div class="sidebar" [class.collapsed]="isCollapsed" (mouseenter)="hoverSidebar(true)"
        (mouseleave)="hoverSidebar(false)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link"  href="javascript:void(0);" (click)="moveToTodaysAppointments()" [routerLinkActive]="['active']"
                    [ngClass]="{'active': isActiveRoute()}">
                    <i class="bi bi-calendar-check"></i>
                    <span class="sidebar-text" *ngIf="!isCollapsed">Today Appointments</span>
                </a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" [routerLink]="['/adminRequestManagement']" [routerLinkActive]="['active']"
                    [ngClass]="{'active': isActiveRoute()}">
                    <i class="bi bi-clock-history"></i>
                    <span class="sidebar-text" *ngIf="!isCollapsed">Patient Details</span>
                </a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link"  href="javascript:void(0);" (click)="toggleDropdown()" [ngClass]="{'active': isActiveRoute()}">
                    <i class="bi bi-clock-history"></i>
                    <span class="sidebar-text" *ngIf="!isCollapsed" style="margin-right: 10px;">Patient Details</span>
                    <!-- Toggle icon based on dropdown state -->
                    <i class="bi" [ngClass]="{'bi-chevron-down': !dropdownOpen, 'bi-chevron-up': dropdownOpen}"
                        *ngIf="!isCollapsed"></i>
                </a>
                <ul class="nav flex-column" *ngIf="dropdownOpen && !isCollapsed">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" (click)="moveToAddDiagnosticDetails()" [routerLinkActive]="['active']" [ngClass]="{'active': isActiveRoute()}">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Add Diagnostic Details</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0);" (click)="moveToEditDiagnosticDetails()"  [ngClass]="{'active': isActiveRoute()}">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Edit Diagnostic Details</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/adminDeleteDoctor']" [routerLinkActive]="['active']">
                            <span class="sidebar-text" *ngIf="!isCollapsed">Delete Diagnostic Details</span>
                        </a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Manage Doctors</a>
                    </li> -->
                </ul>
            </li>
        </ul>
    </div>
    <!-- <div class="page-wrapper"> -->
        <div class="registration-container">
            <h2>Edit Patient Details</h2>
            <form (ngSubmit)="onSubmit()" #doctorForm="ngForm">
                
                <!-- Textarea for Details -->
                <div class="mb-3">
                    <label for="details" class="form-label">Patient Sickness Details: </label>
                    <textarea
                        class="form-control"
                        [(ngModel)]="patientDetail.details"
                        name="details"
                        rows="3"
                        placeholder="Enter details"
                        required
                    ></textarea>
                </div>

                <!-- Textarea for Diagnosis -->
                <div class="mb-3">
                    <label for="description" class="form-label">Diagnosis: </label>
                    <textarea
                        class="form-control"
                        [(ngModel)]="patientDetail.diagnosis"
                        name="description"
                        rows="3"
                        placeholder="Enter description"
                        required
                    ></textarea>
                </div>

                <!-- Textarea for Prescription -->
                <div class="mb-3">
                    <label for="prescription" class="form-label">Prescription: </label>
                    <textarea
                        class="form-control"
                        [(ngModel)]="patientDetail.prescription"
                        name="prescription"
                        rows="3"
                        placeholder="Enter prescription"
                        required
                    ></textarea>
                </div>
        
                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary" [disabled]="!doctorForm.form.valid">Add Edited Details</button>
            </form>
        </div>
        
<!-- </div> -->
</div>

<router-outlet></router-outlet>