<p>doc-list works!</p>

<div class="card m-5">
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="mt-auto d-flex justify-content-end">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <a href="#" class="btn btn-primary">Go somewhere2</a>
            <a href="#" class="btn btn-primary">Go somewhere3</a>
          </div>
        
    </div>
</div>