<div class="doctor-dashboard">
  <header>
      <div class="doctor-dashboard">
          <h2>Your Appointments</h2>
          
          <div *ngIf="appointments.length === 0">No appointments available.</div>
        
          <div *ngFor="let appointment of appointments; let i = index" class="appointment-item">
            <p><strong>Date:</strong> {{ appointment.date }}</p>
            <p><strong>Time:</strong> {{ appointment.time }}</p>
            <p><strong>Patient:</strong> {{ appointment.patient }}</p>
            <button (click)="deleteAppointment(i)">Delete</button>
          </div>
        </div>